<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">

    <div class="input-container">
     <app-text-input
      [control]="fc.email"
      [showErrorWhen]="isSubmitted"
      type="email"
      label="Email"
     ></app-text-input>
    </div>

    <div class="input-container">
     <app-text-input
      [control]="fc.password"
      [showErrorWhen]="isSubmitted"
      type="password"
      label="Password"
     ></app-text-input>
    </div>

    <div class="button">
      <default-button text="Login"></default-button>
    </div>

    <div class="register">
      New User? | &nbsp;
      <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">Register here</a>
    </div>
  </form>
  </div>
</div>
